.mainPage {
background-color: black;
}
.titleImage {
  /* background-image: url("/images/background.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.titleContainer {
  position: relative;
  text-align: center;
  color: white;
}
.titleImage {
  width: 100%;
  height: 80%;
}
.titleText {
  position: fixed;
  top: 20%;
  left: 16px;
}
.titleTextBottom {
  position: fixed;
  top: 30%;
  left: 16px;
}
#title {
  color: whitesmoke;
  position: fixed;
  left: 37%;
  top: 0;
}
#gSignIn {
  position: absolute;
  left: 50%;
  top: 50%;
}
